body {
  margin: 0;
  background-color: var(--background);
}

header,
.header,
footer,
.footer,
main,
.main,
.page-wrap {
  .inside {
    max-width: 72rem;
    margin: 0 auto;
  }
}

header,
.header,
footer,
.footer {
  .inside {
    display: flex;
    justify-content: space-between;
    padding: 2rem;

    .logo {
      position: relative;
      display: flex;
      align-items: center;
      align-self: stretch;
      > a {
        display: flex;
        align-items: center;
        padding: 1rem 2rem 1rem 0;
      }
    }
    .icon-logo {
      width: 1.667rem;
      height: 1.6112rem;
      margin: 0 0.2917rem 0 0;
    }
    nav,
    .nav {
      height: 100%;
      ul {
        display: flex;
        height: 100%;
        margin: 0;
        > li {
          margin-left: 1rem;
          list-style: none;
        }
        a {
          display: flex;
          justify-content: center;
          height: 100%;
          padding: 1rem 0.5rem;
          text-align: center;
          &:link,
          &:visited {
            text-decoration: none;
          }
          &:hover,
          &:focus {
            text-decoration: underline;
          }
        }
      }
    }
  }
}

header,
.header {
  .inside {
    nav,
    .nav {
      ul {
        a {
          &:link,
          &:visited {
            color: $black;
          }
          &:hover,
          &:focus {
            color: $blue;
          }
        }
      }
    }
  }
}

footer,
.footer {
  color: $white;
  background: $purple-dark;
  .inside {
    .logo {
      .background {
        fill: $white;
      }
      .text {
        fill: $purple;
      }
      .dot {
        fill: $yellow;
      }
      .separator {
        fill: $gray-dark;
      }
    }
    nav,
    .nav {
      ul {
        a {
          &:link,
          &:visited {
            color: $white;
          }
          &:hover,
          &:focus {
            color: $yellow;
          }
        }
      }
    }
  }
}

.page-wrap,
.home {
  background: linear-gradient(
    180deg,
    rgba(230, 230, 230, 0.25) 0%,
    rgba(255, 255, 255, 1) 20%,
    rgba(255, 255, 255, 1) 100%
  );
}

.page-wrap {
  padding-top: 1rem;
  main {
    display: block;
    margin: 0 2rem;
  }
}

.home {
  padding-top: 3rem;
  h1 {
    @extend %u-hidden-visually;
  }
}

.homepage-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8.1875rem;
  > div {
    max-width: 28.6875rem;
  }
  svg {
    display: block;
    max-width: 11rem;
    margin: 0 auto 1.5rem;
  }
  form {
    max-width: 25rem;
    label,
    input,
    select {
      display: block;
      width: 100%;
    }
    input,
    select {
      margin-bottom: 1rem;
    }
  }
}

.homepage-hero {
  p {
    color: $gray-dark;
    font-weight: 900;
    font-size: 1.75rem;
  }
}

.content-wrapper {
  display: grid;
  grid-gap: 4rem;
  grid-template-columns: 12.5rem minmax(0, 1fr);
  max-width: var(--maxWidth);
  margin: 0 auto;
  padding: 4rem 0 8rem;
}

.circle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  margin: 1rem 0 0.5rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: var(--text-accent);
  border-radius: 50%;
  transition: background-color 0.5s ease;

  @media screen and (prefers-reduced-motion: reduce) {
    transition: none;
  }

  &:link,
  &:visited {
    color: var(--background);
    text-decoration: none;
  }

  &:hover,
  &:focus {
    color: var(--link);
    background-color: var(--background);
    background-size: 110%;
    border: 0.1875rem solid var(--link);
    transition: background-color 0.5s ease;

    @media screen and (prefers-reduced-motion: reduce) {
      transition: none;
    }
  }

  &:focus {
    box-shadow: none;
  }
}

.back {
  margin-bottom: 1rem;
}

.date {
  color: var(--text-accent);
  line-height: 1.5;
}

figcaption,
.caption {
  margin: 0.5rem 0 1.5rem;
  color: var(--text-accent);
}

figcaption {
  text-align: center;
}

.bump {
  margin-top: 2rem;
}

.chunk {
  margin-bottom: 2rem;
  margin-left: 0;
  list-style-type: none;

  li {
    border-bottom: 0.1rem solid var(--background-accent);

    &:last-child {
      border-bottom: 0;
    }
  }

  a {
    display: block;
    padding: 0.45rem 0.5rem 0.35rem;
  }
}

hr {
  display: block;
  box-sizing: content-box;
  height: 0.5rem;
  margin: 3rem 2rem;
  padding: 0;
  overflow: visible;
  border: 0;
  border-top: 0.5rem solid var(--background-accent);
}

.block-photo {
  display: block;
  margin: 0 auto;
}

.homepage-grid {
  display: grid;
  grid-column-gap: 5.6875rem;
  grid-template-columns:
    [full-start] minmax(0, 1fr)
    [main-start] minmax(0, 1fr) [main-end]
    minmax(0, 1fr) [full-end];
  margin-bottom: 8rem;
  svg {
    display: block;
    max-width: 11rem;
    margin: 0 auto 1.5rem;
  }
  p {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
}

.card {
  grid-column: main;
  width: 100%;
  margin: 0.5rem 0 1rem;
  background-color: var(--background-accent);

  @include bp($medium) {
    display: flex;
    flex-direction: row;
  }

  h2 {
    font-size: 1.5rem;
  }

  .card__content {
    padding: 1rem 0.5rem 0.5rem;

    @include bp($medium) {
      flex-shrink: 0;
      width: 50%;
      margin: 0;
      padding: 1rem;
      text-align: left;
    }
  }
}

section {
  display: grid;
  grid-gap: 1.2778rem;
  grid-template-columns: 2.222rem minmax(0, 1fr);
  max-width: var(--maxWidth);
  margin: 0 auto;
}

article {
  grid-column: 1 / span 2;

  @include bp($medium) {
    grid-column: 1;
  }
}

.photo {
  grid-column: 1 / span 2;

  @include bp($medium) {
    grid-column: 2;
    margin-top: 3.5rem;
  }
}

.screen-reader-text {
  position: absolute;
  width: 0.0625rem;
  height: 0.0625rem;
  overflow: hidden;
  clip: rect(0.0625rem, 0.0625rem, 0.0625rem, 0.0625rem);
}
