body {
  margin: 0;
  background-color: var(--background);
}

header,
.header,
main,
.main,
.page-wrap {
  margin: 0 1rem;
}

header,
.header,
footer,
.footer,
main,
.main,
.page-wrap {
  .inside {
    @include bp($medium) {
      max-width: 72rem;
      margin: 0 auto;
    }
  }
}

header,
.header,
footer,
.footer {
  .inside {
    justify-content: space-between;
    padding: 1rem 0.5rem;

    @include bp($medium) {
      display: flex;
    }
    .logo {
      position: relative;
      display: block;
      align-items: center;
      align-self: stretch;

      @include bp($medium) {
        display: flex;
      }
      > a {
        display: flex;
        align-items: center;
        max-width: 75%;
        padding: 1rem 0;
        &:focus,
        &:hover {
          outline: 0.1rem solid;
        }

        @include bp($medium) {
          max-width: 100%;
        }
      }
    }
    .icon-logo {
      width: 2rem;
      height: 2rem;
      margin: 0 0.2917rem 0 0;
    }
    button {
      position: absolute;
      top: 1.6rem;
      right: 1rem;
      padding: 0.5rem;
      color: $purple;
      font-size: 1em;
      background: transparent;
      border: 0.1rem solid $purple;
      border-radius: 0.3rem;
      cursor: pointer;

      &:focus,
      &:hover {
        color: $black;
        background: $white;
      }
    }
    nav,
    .nav {
      height: 100%;
      button {
        @include bp($small-medium) {
          display: none;
        }
      }
      ul {
        display: none;
        height: 100%;
        margin: 0;

        @include bp($small-medium) {
          display: flex;
          flex-direction: row;
        }
        > li {
          margin-left: 1rem;
          list-style: none;

          @include bp($medium) {
            margin-left: 0;
          }

          @include bp($large) {
            margin-left: 1rem;
          }
        }
      }
      .is-active {
        display: block;

        @include bp($small-medium) {
          display: flex;
        }
      }
      a {
        display: flex;
        justify-content: center;
        height: 100%;
        padding: 1rem 0.5rem;
        text-align: center;
        &:link,
        &:visited {
          text-decoration: none;
        }
        span {
          border-bottom: 0.1rem solid transparent;
        }
        &:hover,
        &:focus {
          span {
            border-color: $blue;
          }
        }
      }
      .active-page {
        span {
          border-color: $blue;
        }
      }
    }
  }
}

header,
.header {
  .inside {
    nav,
    .nav {
      ul {
        a {
          &:link,
          &:visited {
            color: $black;
          }
          &:hover,
          &:focus {
            color: $blue;
          }
        }
      }
    }
  }
}

footer,
.footer {
  color: $white;
  background: $purple-dark;
  .inside {
    .logo {
      .background {
        fill: $white;
      }
      .text {
        fill: $purple;
      }
      .dot {
        fill: $yellow;
      }
      .separator {
        fill: $gray-dark;
      }
    }
    nav,
    .nav {
      ul {
        a {
          &:link,
          &:visited {
            color: $white;
          }
          &:hover,
          &:focus {
            color: $yellow;
          }
        }
      }
    }
  }
}

header {
  .inside {
    nav {
      ul {
        display: none;
        .is-active {
          display: block;
        }
      }
    }
  }
}

.page-wrap,
.home {
  background: linear-gradient(
    180deg,
    rgba(230, 230, 230, 0.25) 0%,
    rgba(255, 255, 255, 1) 20%,
    rgba(255, 255, 255, 1) 100%
  );
}

.page-wrap {
  padding-top: 1rem;
  main {
    display: block;
    margin: 0;
  }
}

.home {
  padding-top: 3rem;
  h1 {
    @extend %u-hidden-visually;
  }
  form {
    max-width: 25rem;
  }
}

.homepage-row {
  img {
    display: none;
  }

  @include bp($small-medium) {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8.1875rem;
    > div {
      max-width: 28.6875rem;
    }
    svg {
      display: block;
      max-width: 11rem;
      margin: 0 auto 1.5rem;
    }
  }
}

.homepage-hero {
  p {
    color: $gray-dark;
    font-size: 1.75rem;
    font-family: $font-family-bold;
  }
}

.content-wrapper {
  display: block;

  @include bp($small) {
    display: grid;
    grid-gap: 6%;
    grid-template-columns: minmax(0, 20%) minmax(0, 1fr);
    max-width: var(--maxWidth);
    margin: 0 auto;
    padding: 4rem 0 8rem;
  }
}

aside {
  display: flex;
  flex-direction: row-reverse;
  column-gap: 1rem;
  .subnav-wrap {
    flex-basis: 100%;
  }
  svg {
    width: 40%;
  }
  ul {
    margin-left: 1rem;
    font-size: 0.8889rem;
    list-style-image: url("/img/list-icon.svg");
  }

  @include bp($small) {
    display: block;
    svg {
      width: 100%;
      max-width: 9.72rem;
    }
  }
}

form {
  label,
  input,
  select,
  textarea {
    display: block;
    width: 100%;
    line-height: 1.5;
  }
  input,
  select,
  textarea {
    margin-bottom: 1rem;
    padding: 0.5rem;
  }
  div {
    display: flex;
    justify-content: space-between;
  }
  .btn {
    width: auto;
    margin-top: 0;
    outline: 0.1875rem solid transparent;
  }
}

.contact-form {
  padding: 3.5rem 6rem;
  background: $gray-transparent;
}

.homepage-grid {
  > div {
    margin: 1rem 0 2rem;
  }
  svg {
    display: block;
    max-width: 60%;
    margin: 0 auto;
  }

  @include bp($small-medium) {
    display: grid;
    grid-column-gap: 5.6875rem;
    grid-template-columns:
      [full-start] minmax(0, 1fr)
      [main-start] minmax(0, 1fr) [main-end]
      minmax(0, 1fr) [full-end];
    margin-bottom: 8rem;
    svg {
      display: block;
      max-width: 11rem;
      margin: 0 auto 1.5rem;
    }
    p {
      font-size: 1.125rem;
      line-height: 1.75rem;
    }
  }
}

.homepage-grid-bottom {
  svg {
    display: block;
    max-width: 60%;
    margin: 0 auto;
  }

  @include bp($small-medium) {
    display: grid;
    grid-column-gap: 5.6875rem;
    grid-template-columns:
      [full-start] minmax(0, 1fr)
      minmax(0, 1fr) [full-end];
    margin-bottom: 8rem;
    svg {
      display: block;
      max-width: 11rem;
      margin: 0 auto 1.5rem;
    }
  }
}

.screen-reader-text {
  position: absolute;
  width: 0.0625rem;
  height: 0.0625rem;
  overflow: hidden;
  clip: rect(0.0625rem, 0.0625rem, 0.0625rem, 0.0625rem);
}
