{% extends "_includes/page.njk" %}

{% block pageNav %}
<aside>
  {{ icon | safe }}
  <div>
    <p>Reach us directly</p>
    <ul>
      <li>Voice/TTY  (410) 905-0028</li>
      <li>Fax  (410) 418-8377</li>
      <li><a href="www.accessible-systems.com">www.accessible-systems.com</a></li>
      <li><a href="mailto:info@accessible-systems.com">info@accessible-systems.com</a></li>
    </ul>
  </div>
</aside>
{% endblock %}
