---
---
{% include 'header.njk' %}
<main class="home" id="content">
  <div class="inside">
    {{ content | safe }}
      {% include 'contact.njk' %}
    </div>
  </div>
</main>
{% include 'footer.njk' %}
</body>
</html>
