{% include "header.njk" %}
  <div class="page-wrap">
    <div class="inside">
      <div class="breadcrumbs">
        <p><a href="/">Home</a> > <strong>{{title}}</strong></p>
      </div>
      <div class="content-wrapper">
        {% block pageNav %}
          Sidebar pending
        {% endblock %}
        <main class="post" id="content">
          <a id="content"></a>
          <h1>{{ title | capitalize }}</h1>
          {{ content | safe }}
        </main>
      </div>
    </div>
  </div>
{% include "footer.njk" %}
