---
---
{% include "header.njk" %}
  <main class="post">
    <a href="/" class="circle top">back to top</a>
    <a id="content"></a>
    <h1>{{ title }}</h1>
    {{ content }}
    <a href="/" class="circle back" aria-label="back to home" title="back to home">&larr;</a>
  </main>
{% include "footer.njk" %}
