{% extends "_includes/page.njk" %}

{% block pageNav %}
<aside>
  {{ icon | safe }}
  <div class="subnav-wrap">
    <p>On this page</p>
    <nav  class="subnav">
      <ul>
        {% for Testing in collections.Testing %}

        <li><a href="#{{Testing.data.anchor | urlize | safe }}">{{Testing.data.shortTitle}}</a></li>
        {% endfor %}
      </ul>
    </nav>
  </div>
</aside>
{% endblock %}
