{% extends "_includes/page.njk" %}

{% block pageNav %}
<aside>
  {{ icon | safe }}
  <div class="subnav-wrap">
    <p>On this page</p>
    <nav class="subnav" aria-label="sub navigation">
      <ul>
        {% for Training in collections.Training | sortByOrder %}

        <li><a href="#{{Training.data.anchor | urlize | safe }}">{{Training.data.shortTitle}}</a></li>
        {% endfor %}
      </ul>
    </nav>
  </div>
</aside>
{% endblock %}
